# 编译产物
*.exe
*.dll
*.so
*.dylib
steggo
steggo-tui
steggo-gui

# 构建输出目录
/dist/
/build/
/bin/
out/

# 测试与运行产物
/testdata/out/
/testdata/e2e-tmp/
/shares/
/extracted/
batch-out/
/testdata/

# 编辑器与系统文件
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Fyne 打包缓存
/tmp/
